.main {
  height: 100vh;
  background-color: #F5F6F8;
  overflow: hidden;

  .leftCard {
    background-color: #0057f8;
    border-radius: 18px;
    height: 95vh;
    padding-top: 15px;

    .iconWhiteApp {
      img {
        width: 70px;
      }
    }

    .avatar {
      .imgAvatar {
        width: 50px;
        height: 50px;
        border: 2px solid white;
      }
    }

    .buttonModal {
      .btn {
        font-size: 35px;
        color: white;
      }

      .btnSetting {
        cursor: pointer;
        img {
          margin-left: 13px;
        }
      }

      .btnContacts {
        cursor: pointer;
        img {
          margin-left: 13px;
        }
      }

      .btnCalls {
        cursor: pointer;
        img {
          margin-left: 11px;
        }
      }

      .btnSave {
        cursor: pointer;
        img {
          margin-left: 16px;
        }
      }

      .btnInvite {
        cursor: pointer;
        img {
          margin-left: 9px;
        }
      }

      .btnMessageFAQ {
        cursor: pointer;
        img {
          margin-left: 13px;
        }
      }

      .btnLogOut {
        margin-top: 200px;
        cursor: pointer;

        .logout {
          font-size: 30px;
          color: white;
          margin-left: 13px;
        }
      }

      h5 {
        color: white;
      }
    }
  }

  .midCard,
  .rightCard {
    border-radius: 18px;
    height: 95vh;
    background-color: white;
    // box-shadow: 13px 13px 26px #e4e4e4,
  }

  .midCard {
    .iconApp {
      img {
        width: 50px;
      }
    }

    .nameApp {
      h3 {
        color: #0057f8;
      }
    }

    .formSearch {
      input {
        padding: 11px;
        padding-left: 20px;
        color: #858D96;
        font-size: 14px;
        border-color: #0057f83f;
        background-color: #FAFAFA;
      }

      input:focus {
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
        border-color: #0057f8;
      }
    }

    .btnOptionChat {
      font-weight: 500;
      border-bottom: 1px solid #FAFAFA;
      height: 58px;

      .all {
        width: 100px;
      }

      .Important {
        width: 100px;
      }

      .Unread {
        width: 100px;
      }

      a {
        border: none;
        color: #0057f8;
      }

      a:hover {
        background-color: white;
      }

      a:focus {
        border-bottom: 3px solid #0057f8;
        box-shadow: none;
        background-color: white;
      }
    }

    .listChat {
      height: 62vh;
      overflow: auto;
    }
  }

  .rightCard {
    padding: 0 11px;

    .noSelect {
      h5 {
        color: #848484;
      }
    }

    .navbarChat {
      padding: 15px 1px;
      background-color: transparent;
      position: sticky;
      box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.1);

      .avatar {
        width: 48px;
        height: 48px;
        border: 1px solid #0057f8;
      }

      .usernameAndStatus {
        margin-left: -20px;

        h5 {
          margin: 0;
        }

        p {
          color: #0057f8;
          margin: 0;
          font-weight: 500;
        }
      }
    }

    .boxChat {
      height: 75vh;
      overflow: auto;
      box-shadow: inset 0px -10px 5px -4px rgba(0, 0, 0, 0.1);

      .boxLeft {
        padding: 10px 15px;
        background-Color: #FDCB2A;
        border-radius: 18px 18px 18px 1px;
      }

      .boxRight {
        padding: 10px 15px;
        background-Color: #0057f8;
        border-radius: 18px 18px 1px 18px;
      }
    }

    .bottomBoxChat {
      height: 50px;

      .emoji {
        font-size: 35px;
        color: #0057f8;
        cursor: pointer;
      }

      .formMessage {
        input {
          padding: 8px;
          padding-left: 20px;
          font-size: 14px;
          border-color: #0057f8;
          background-color: #FAFAFA;
          caret-color: #0057f8;
          width: 810px;
        }

        input:focus {
          box-shadow: none;
        }
      }
    }
  }
}