.main {
  .container {
    background-color: #6951AE;
    height: 100vh;

    .cardLogin {
      border-radius: 30px;
      width: 450px;
      padding-top: 25px;
      padding-bottom: 15px;
      background-color: white;
      box-shadow: 12px 12px 13px #d5d5d5,
        -12px -12px 13px #ebebeb;

      .title {
        h4 {
          color: #6951AE;
        }
      }

      .subTitle {
        color: #232323;
      }

      .formLogin {
        label {
          font-size: 13px;
          color: #9EA0A5;
        }

        input {
          font-size: 14px;
          border-color: #9EA0A5;
          border-radius: 8px;
          caret-color: #6951AE;
        }

        input:focus {
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          border-color: #6951AE;
        }

        .forgotPass {
          font-size: 15px;
          color: #6951AE;
          font-weight: 500;
          text-decoration: none;
        }
      }

      .btnLogin {
        button {
          width: 100%;
          padding: 10px 0;
          font-size: 15px;
          background-color: #6951AE;
          border-color: #6951AE;
          box-shadow: 5px 5px 10px #d9d9d9,
            -5px -5px 10px #e7e7e7;
        }
      }

      .regWithGoogle {
        color: #9EA0A5;
        font-size: 14px;
      }

      .btnGoogle {
        button {
          border-color: #6951AE;
          color: #6951AE;
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          padding: 10px 0;
          box-shadow: 5px 5px 10px #d9d9d9,
            -5px -5px 10px #e7e7e7;
        }

        button:hover {
          background-color: #6951AE;
          color: white;

          img {
            border-radius: 50px;
            padding: 1px;
            background-color: white;
          }
        }
      }

      .register {
        p {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;

          .linkRegister {
            color: #6951AE;
            text-decoration: none;
          }
        }
      }
    }
  }
}